<h2 style="background-color: rgb(105, 105, 245);color: white; width: 100%;">Experience ::New</h2>

<div class="card">
  <div class="card-body">
    <div class="container">
       <div class="col-md-12">
        <label >EMPLOYEER</label>
        <input type="text" class="form-control form-control-l">
       </div>
      <div  class="col-md-12">
        <label >JOBTITLE</label>
        <input type="text" class="form-control form-control-l"  placeholder="E.g HR Manager">
      </div>
      <br>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label for="">FROM</label>
             <input type="date" name="" id="" class="form-control form-control-l">
          </div>
          <div class="col-md-6">
            <label for="">TO</label>
             <input type="date" name="" id="" class="form-control form-control-l">
          </div>

        </div>

      </div>
   <div class="col-md-12">
    <label for="">SALARY</label>
    <input type="text" name="" id="" class="form-control form-control-l">
   </div>

   <div class="col-md-12">
    <label for="">COUNTRY</label>
    <input type="text" name="" id="" class="form-control form-control-l" placeholder="E.g Kenya">
   </div>

   <div class="col-md-12">
    <label for="">ATTACHMENT</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input">
      <label class="custom-file-label">Choose file</label>
    </div>
  
   </div>
   <br>
   <div class="col-md-12">
    <label for="">REMARK</label>
    <input type="text" name="" id="" class="form-control form-control-l" placeholder="remark(200 characters max)">
   </div>



    </div>
     <br>
    <button type="submit"  class="btn btn-primary btn-lg"> <span><i class="fa fa-database" aria-hidden="true"></i></span> SAVE</button>
  </div>

</div>