<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white;width: 120%;">Attendance Transaction Summary</h2>
<!--This is the buttons-->
<div class="row">
    <div class="col-md-4">
        <label for="">Date:</label>
        <input type="date">
    </div>
    <div class="col-md-4">
        
        <select name="print" id="" style="height: 30px;">
            <option>print/Report</option>
            <option value="">Printer Friendly</option>
            <option value="">Export(Friendly)</option>
            <option value="">Export(Tabular)</option>
        </select>

    </div>

</div>
<br>
<!--Table goes here-->
<table class="table">
    
    <thead>
      <tr>
        
        <th scope="col">ID<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Name <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Status  <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> First Check In <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Last Check Out <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Duration(Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Break (Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Actual (Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Overtime(Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Remark<i class="fa fa-caret-down" aria-hidden="true"></i></th>
       
        
       
        
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>



