<br>
<!--This is the ToolBar-->
<div class="body">
<div class="row" >
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
    <div class="col-md-1">
     <h2 class="h6 text-info">HR.MY</h2> 
    </div>
      <div class="col-md-2">
        <a [routerLink]="['/login']" class="btn btn-info">LOGIN</a>
      </div>
      <div class="col-md-2">
        
    <a [routerLink]="['/signup']" class="btn btn-info">SIGNUP</a>
      </div>
      <div class="col-md-2">
        <a [routerLink]="['/testimonial']" class="btn btn-info">TESTIMONIAL</a>
      </div>
      <div class="col-md-2">
        <a [routerLink]="['/userguide']" class="btn btn-info">USER GUIDE</a>
      </div>
    </div>
  </div>
  
</div>



<!--THIS IS THE CARD-->
<div class="card">
  <h1 class="p-3 mb-2 bg-info text-white" style="text-align: center;">Employee Email</h1>
  <div class="card-body">

    

  
  
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
    </form>

  </div>

</div>




<!--This is the card-->

    
    
