<h2 style="background-color: rgb(105, 105, 245);color: #ffffff;width: 200%;">Discussion::View</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><button type="button" class="btn btn-outline-dark">view</button></div>
    <div class="col-md-2"> </div>
    <div class="col-md-2"><button type="button" class="btn btn-outline-dark" [routerLink]="['/administrator/team/discussion/new']" routerLinkActive="router-link-active" >New</button> </div>
</div>
<br>
<br>
<!--This is the table-->
<div class="Table">
    <table class="table table-hover">
        <thead>
          <tr>
         
            <th scope="col">Title</th>
            <th scope="col">Attachement</th>
            <th scope="col">Content</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            
          </tr>
        </tbody>
      </table>
    
</div>