<h2 style="background-color: rgb(105, 105, 245); color: white; width: 100%">
  Document&Form Sharing ::New
</h2>
<!--This is the form-->

<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <label>Title</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Title"
      />
    </div>
    <br />
    <div class="col-md-12">
      <label>Attachment</label>
      <input
        type="file"
        class="form-control-file form-control-lg"
        placeholder="Attachment"
        style="cursor: pointer"
      />
    </div>
    <br />
    <div class="col-md-12">
      <label>Category</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Input Category"
      />
    </div>
    <br />
    <div class="col-md-12">
      <label for="exampleInputPassword1">Description</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Description(200 characters max)"
      />
    </div>
    <br />
    <div class="col-md-12">
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        style="margin-left: 1%"
      >
        <i class="fa fa-database" aria-hidden="true"></i> SUBMIT
      </button>
      <button
        class="btn btn-primary btn-sm"
        [routerLink]="['/administrator/team/documentsharing']"
        routerLinkActive="router-link-active"
        style="
          margin-left: 50%;
          background-color: #37474f;
          border-color: #7f96a1;
          color: #fff;
        "
      >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK
      </button>
    </div>
  </div>
</div>
