<h2 style="background-color: rgb(105, 105, 245);color: white; width: 200%;">Document&Form Sharing ::New</h2>
<!--This is the form-->

<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <label >Title</label>
      <input type="text" class="form-control form-control-lg"  placeholder="Title">


    </div>
    <br>
    <div class="col-md-12">
      <label >Attachment</label>
      <input type="file" class="form-control-file form-control-lg "  placeholder="Attachment" style="cursor: pointer;">

    </div>
    <br>
    <div class="col-md-12">
      <label >Category</label>
      <input type="text" class="form-control form-control-lg"  placeholder="Input Category">


    </div>
    <br>
    <div class="col-md-12">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control form-control-lg"  placeholder="Description(200 characters max)">

    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg" style="margin-left: 1%;">SUBMIT</button>


  </div>

</div>







