<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white; width: 120%;">Earning Policy::New</h2>
<!--this are the inputs-->





<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="col-md-12">
                <label >Code</label>
                <input type="text" class="form-control" id="inputId"  placeholder="Enter Code">
            </div>
            <div class="col-md-12">
                <label >Description</label>
                <input type="text" class="form-control" id="inputName"  placeholder="Enter Description">
            </div>
            <br>
            <div class="col-md-12">
                <label >Active</label>
                <br>
                   <input class="form-check-input" type="checkbox" style="height: 30px;width: 30px;margin-left: 5px;">
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-12">
                <label >Method</label>
                <select class="form-control" title="Please select a Leave Unit" required>
                    <option></option>
                    <option>Earned Immediately</option>
                    <option> Prorated</option>
                    <option> Custom Monthly Allocation</option>
                </select>
            </div>
            <br>
            <div class="col-md-12">
                <label >Accrual Period</label>
                <select class="form-control" title="Please select a Leave Unit" required>
                    <option></option>
                    <option>Monthly</option>
                    <option> Daily</option>
                    
                </select>
            </div>
            <br>
            <div class="col-md-12">
                <label >Earn At</label>
                <select class="form-control" title="Please select a Leave Unit" required>
                    <option>Start Of Accrual Period</option>
                    <option>End of Accrual Period</option>
                    
                   
                </select>
            </div>
            
            
                
                
        
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg" style="margin-left: 75px ;">SAVE</button>
    </div>
  </div>

