.card {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 1rem;
  background-color: #fff;
  padding: 20;
}
button {
  border-radius: 2rem;
  cursor: pointer;
}

input {
  height: 46px;
}
