<!--This is the ToolBar-->
<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 img-responsive">
      <img src="../assets/images/HR.my.png" alt="" width="60" />
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/login']" class="btn btn-info btn-sm">LOGIN</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/signup']" class="btn btn-info btn-sm">SIGNUP</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/testimonial']" class="btn btn-info btn-sm">
        TESTIMONIAL
      </a>
    </div>

    <div class="col-md-2">
      <a [routerLink]="['/userguide']" class="btn btn-info btn-sm">
        USER GUIDE
      </a>
    </div>
  </div>

  <div class="center-content">
    <div class="row">
      <div class="column">
        <p class="lead no-wrap text-capitalize text-centre">
          control shortcut for copy code <kbd>CTRL</kbd> <kbd>C</kbd> and
          <kbd>CTRL</kbd> <Kbd>V</Kbd> for pasting
        </p>
        <h4 class="mat-display-1">Getting the Most out of HR Software</h4>
        <ol>
          <li>
            <span class="mat-headline"
              >About HR.myata Security and Privacy</span
            >
            <ul style="list-style-type: square">
              <li>
                HR.my is a Human Resource, Payroll and e-Leave Management
                platform that offers easy-to-use yet powerful features to
                improve productivity in all sort of work places.
                <img src="{{ imagePath }}" class="img-responsive" alt="" />
              </li>
              <li>
                Most importantly, HR.my is a true Each Employer account could
                add
                <span class="hl"><i>UNLIMITED</i></span> number of employees,
                who also get to sign up their
                <span class="hl">Employee Web Accounts</span> for free. In the
                meantime, Employers may also
                <a href="multi-user-hr-role.html#hrmanager"
                  >empower employees involved in HR function</a
                >
                to manage the Employer account.
              </li>
              <li>
                HR.my is <span class="hl"><i>SECURE</i></span
                >! All connections to HR.my are encrypted with SSL (TLS)
                protocol. HR.my data is secured with daily off-site backup and
                data export. HR.my data privacy is fully protected by
                restriction of the access for maintenance purpose only, with no
                third party allowed to access HR.my data at all. HR.my passwords
                are hashed. As an Employer, you have complete control over your
                employees' access to their
                <span class="hl">Employee Web Account</span> and the
                <span class="hl">accessibility</span> of your employees to
                certain information.
              </li>
            </ul>
          </li>
          <li>
            <span class="mat-headline"
              >Understanding Employee and User Account Management</span
            >
            <ul style="list-style-type: square">
              <li>
                <a href="employee-management.html">Employee Management</a> is
                the first step towards unleashing the full power of HR.my. It is
                therefore critical to understand the underlying concepts of
                managing employee data on HR.my, including archiving employees
                who have departed, tracking employment status changes (such as
                job changes, salary changes etc).
              </li>
              <li>
                Certain features in HR.my provide optional settings to meet
                individual Employer's specific requirements. You may change
                these settings in
                <a href="employer-settings.html">Employer Settings</a>.
              </li>
              <li>
                At times, you may need to change the account's registered email
                address, such as passing the account ownership from the IT guy
                (who has been tasked to evaluate HR.my) to the HR manager.
              </li>
              <li>
                Or you may have the need to sign up multiple Employer accounts,
                but you wish to consolidate all these accounts under single
                login.
              </li>
              <li>
                Or you may need to figure out how to use the same email address
                to sign up for multiple Employee Web Accounts with different
                Employers.
              </li>
              <li>
                Or even to close your Employer account. These are the issues
                readily addressed by
                <a href="user-account-management.html"
                  >User Account Management</a
                >.
              </li>
            </ul>
          </li>
          <li>
            <span class="mat-headline"
              >Using HR.my Paperless e-Claim Management</span
            >
            <ul style="list-style-type: square">
              <li>
                You may now go green with HR.my paperless
                <a href="expense-claim-management.html"
                  >Expense Claim Management</a
                >, which offers you a better alternative to your manual
                paper-based expense claim submission process. You could even
                automatically enforce further controls on the expense type and
                limits that your employees are entitled to claim, be it claims
                by receipt, mileage, Per Diem etc.
              </li>
              <li>
                By setting up
                <a href="claim-approval-workflow.html"
                  >Claim Approval Workflow</a
                >
                according to your current policy, all expense claim applications
                will be automatically sent to respective manager for review,
                such as Line Manager, Head of Department, Head of Branch or even
                Custom Approvers (e.g. Boss, COO etc).
              </li>
            </ul>
          </li>
          <li>
            <span class="mat-headline"
              >Using HR.my Paperless e-Leave Management</span
            >
            <ul style="list-style-type: square">
              <li>
                One of the major highlights of HR.my is the powerful
                <span class="hl">Leave Management</span> function. HR.my
                provides an easy-to-use
                <a href="leave-management.html"
                  >e-Leave (Paperless Leave Management)</a
                >
                for organizations of all sizes. You may utilize HR.my's
                <span class="hl">eLeave</span> for tasks as simple as leave
                record keeping, or to facilitate employee leave planning,
                application, review, balance checking etc.
              </li>
              <li>
                To fully harness the power of HR.my free Leave Management and to
                empower your employees, it is highly recommended that you
                explore and make full use of
                <a href="leave-approval-workflow.html"
                  >Leave Approval Workflow</a
                >. Your employees will be able to review leave applications
                submitted by their subordinates according to your current leave
                approval workflow.
              </li>
              <li>
                Depending on your organization's needs, you may have to set up
                <a href="workday-and-holiday.html"
                  >Multiple Workdays and Holidays schemes</a
                >
                for different employees' days off arrangements.
              </li>
            </ul>
            <!--               <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-6773561368244514"
                     data-ad-slot="6983549280"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div> -->
          </li>

          <li>
            <span class="mat-headline"
              >Using Document Workflow Paperless Approval System</span
            >
            <ul style="list-style-type: none">
              <li>
                You may now migrate literally any existing paper-based document
                approval workflow (such as circulation of Timesheet or Expense
                Claim form for Manager's approval) to HR.my's versatile
                <a href="document-workflow.html">Document Workflow</a>.
              </li>
            </ul>
          </li>
          <li>
            <span class="mat-headline"
              >Encouraging Team Collaboration and Knowledge Management</span
            >
            <ul style="list-style-type: square">
              <li>
                Employee Discussion Forum is a good place to facilitate employee
                discussions of various issues. Visit
                <a href="discussion-forum.html">Employee Discussion Forum</a>
                for more details.
              </li>
              <li>
                <a href="document-and-form.html">Document and Form Sharing</a>
                allows employers and employees to securely share and submit
                documents and reports online.
              </li>
            </ul>
          </li>
          <li>
            <span class="mat-headline">Payroll and Salary Management</span>
            <ul style="list-style-type: square">
              <li>
                Process employee payroll and generate payslips with a powerful
                yet flexible
                <a href="payroll.html" class="mail">Payroll System</a>.
              </li>
              <li>
                Keep complete records of employee salary changes with
                <span class="hl">Salary Adjustment</span> module.
              </li>
            </ul>
          </li>

          <!--               <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-6773561368244514"
                     data-ad-slot="2876783316"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div> -->
        </ol>
      </div>
      <!-- <div class="one-third column phones"> -->
      <!-- <img class="phone" src="images/iphone.png"> -->
      <!-- <img class="phone" src="images/iphone.png"> -->
      <!-- </div> -->
    </div>
  </div>
</div>
