<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white; width: 120%;">Attendance Management</h2>
<!--This is the  date and import-->
<div class="row">
   
   <div class="col-md-10">
     <label for=""> Date: </label>
     <input type="Date">
   </div>
   <div class="col-md-2">
    <button type="button" class="btn btn-outline-dark">Import</button>

   </div>

   
</div>
<br>
<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white;width: 120%;">Transaction</h2>
<div class="row">
    
    <div class="col-md-1">
        <button type="button" class="btn btn-primary fa fa-plus"></button>

    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger fa fa-plus"></button>
    </div>

</div>

<!--Table goes here-->


<br>
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">ID<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Name <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Status  <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> First Check In <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Last Check Out <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Duration(Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Break (Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Actual (Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Overtime(Hours) <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Remark<i class="fa fa-caret-down" aria-hidden="true"></i></th>
       
        
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>


