<!--this is the header -->
<h2 style="background-color: rgb(105, 105, 245);color: white;">My Account::Change Registered Email</h2>


    

<!--Form starts here-->
<div class="card" style="width: 100%;height: 80%; margin-left: 2%;">

    <div class="card-body">
      
    <h2 class="h2" style="background-color: rgb(78, 78, 228); color: white;">Reset Email</h2>
    <form >
        <div class="form-group">
            <label for="exampleInputEmail1">RegisteredEmail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter RegisteredEmail">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">NewEmail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Email">
          </div>
          
          
          <div class="row">
             
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-lg">Request Change</button>

              </div>
              <div class="col-md-4">

              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-lg">Cancel</button>

              </div>

          </div>
    </form>

        
        
        
        
    
        
        
  
      

      
      
    </div>
    <br>
    <br>
    <h2 class="text-warning">Important *: Your registered email is your account ID. To change your registered email,
        please click at "Request Change". A Request Code and a Confirmation Code will be sent to your Registered Email and the New Email immediately.</h2>
  </div>

