
<h2 style="background-color: rgb(105, 105, 245);color: white;">Module Access ::</h2>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-dark">Save</button>

    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-dark">Cancel</button>

    </div>

</div>
<br>
<div class="card">
    
    <div class="card-body">
      <h2 class="h2" style="background-color: rgb(117, 117, 243);color: cornsilk;">Module Enabled For Employee Access[**Preview**]</h2>
      
      <label for="">ExpenseClaim</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Leave</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Attendance</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Document Workflow</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Discussion</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Document&FormSharing</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Announcement</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Employee Directory</label>
      <br>
      <input type="checkbox">
      <br>
      
      <label for="">Payroll</label>
      <br>
      <input type="checkbox">
      <br>
      <br>
      <h2>
        Note: Customizing Module Access will also change the content of invitation email sent for the sign-up of Employee Web Account.
      </h2>
    </div>
  </div>


