<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white;width: 120%;">Field Check-In Management</h2>
<!--This is the date input-->
<div class="row">
    <div class="col-md-4">
        <label for="">  Date:</label>
        <input type="date">
    </div>

</div>
<br>
<!--Card for location and camera-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <i class="fa fa-map-marker fa-lg" aria-hidden="true" style="font-size: 180px;"></i>
    </div>
    <div class="col-md-3">
        <i class="fa fa-camera fa-lg" aria-hidden="true" style="font-size: 180px;"></i>
    </div>

</div>
<br>
<br>
<!--Table goes here-->
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time </th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">IP</th>
        <th scope="col">Geolocation</th>
        <th scope="col">Remark</th>
        <th scope="col">Department</th>
        <th scope="col">Branch </th>
        
       
        
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>



