.checkbox {
  height: 22px;
  width: 22px;
}
input {
  height: 46px;
}
button {
  border-radius: 2rem;
}
.card {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 1rem;
  background-color: #fff;
  padding: 20;
}
