<h2 style="background-color: rgb(105, 105, 245);color: white; width: 100%;">Web::New</h2>

<!--Form goes here-->

<div class="card" style="margin-top: 3%;">
  <div class="card-body">
    <div class="container">
      <div class="col-md-12">

        <label >JOBPOSITION</label>
        <input type="text" class="form-control form-control-l"  placeholder="E.g HR manager">
          

        <div style="margin-top: 5%;">
          
        <label  >ENABLED</label>
        <br>
        <input type="checkbox" style="width: 30px;height: 30px;">
        </div>
      </div>

    </div>
      <button type="submit" class="btn-primary btn-lg" ><span><i class="fa fa-database" aria-hidden="true"></i></span> SAVE</button>
  </div>

</div>