<!--This is the header-->
<h2 style="background-color: rgb(105, 105, 245);color: white; width: 120%;">Document Approval Workflow::New</h2>
<!--Code goes here-->
<div class="card">
    <div class="card-body">

        
<div class="row">
    <div class="col-md-12">
        <label for="">Code</label>
        <input type="text" class="form-control" id="inputCode"  placeholder="Enter Code">
    </div>
    <div class="col-md-12">
        <label for="">Description</label>
        <input type="text" class="form-control" id="inputDescription"  placeholder="Enter Description">
    </div>
    <div class="col-md-12">
        <label for="">Active</label>
        <br>
        <input type="checkbox" style="height: 30px;width: 30px;">
    </div>
    <div class="col-md-12">
        <label for="">Modified</label>
        <input type="date" class="form-control" id="inputModified"  placeholder="Enter Date Modified">
    </div>
</div>
<br>
<button type="button"  class="btn btn-primary btn-lg" ><span><i class="fa fa-database" aria-hidden="true"></i></span> SUBMIT</button>


    </div>

</div>

