<h2 style="background-color: rgb(105, 105, 245);color: white; width: 100%;">Education::New</h2>
<!--THIS IS THE FORM-->
<div class="card">
  <div class="card-body">
    <div class="container">

      <div class="col-md-12">
        <label >SCHOOL</label>
        <input type="text" class="form-control form-control-l"  placeholder="E.g Jomo kenyatta university">
      </div>

      <div class="col-md-12">
        <label >FIELD OF STUDY</label>
        <input type="text" class="form-control form-control-l"  placeholder="E.g Business">

      </div>

      <div class="col-md-12">
        <label >DEGREE</label>
        <input type="text" class="form-control form-control-l"  placeholder="E.g Bsc Information Techonology">
      </div>

      <div class="col-md-12">
        <label >GRADE</label>
        <input type="text" class="form-control form-control-l">

      </div>
      <br>

      <div class="col-md-12">
         <div class="row">
           <div class="col-md-6">
             <label for="">FROM(YEAR)</label>
             <input type="date" class="form-control form-control-l">

           </div>
           <div class="col-md-6">
            <label for="">TO(YEAR)</label>
            <input type="date" class="form-control form-control-l">

           </div>

         </div>

      </div>

      
      <br>

      <div class="col-md-12">
        <label >ATTACHMENT</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label">Choose file</label>
        </div>
        
      </div>
    <br>
      <div class="col-md-12">
        <label >REMARK</label>
        <input type="text" class="form-control form-control-l" placeholder="Remark(200 characters max)">
      </div>


    </div>
    <br>
    <button type="submit"  class="btn btn-primary btn-lg"> <span><i class="fa fa-database" aria-hidden="true"></i></span> SAVE</button>

  </div>

</div>