<h2 style="background-color: rgb(105, 105, 245);color: white; width: 100%; ">Training ::New</h2>
<!--This is the form for new training-->
<div class="card">
   <div class="card-body">
     <div class="container" >
        
      <div class="col-md-12">
        <label >DATE</label>
        <input type="date" id="input" class="form-control" >
       </div>
        
        
       <div class="col-md-12">
        <label >COURSE</label>
        <input type="text" class="form-control" id="input" placeholder="Enter Course" required>
       </div>

       <div class="col-md-12">
        <label >TRAINER</label>
        <input type="text" class="form-control" id="input"   placeholder="Enter Trainer" required>
       </div>

       <div class="col-md-12">
        <label >RESULT</label>
        <input type="text" class="form-control" id="input"  placeholder="Enter Result" required>
       </div>

       <div class="col-md-12">
       <label >COURSE</label>
        <input type="text" class="form-control" id="input"  placeholder="Enter Course" required>
      </div>
      <div class="col-md-12">
        <label >ATTACHMENT</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label">Choose file</label>
        </div>
      </div>
<br>
      <div>
        <label >REMARK</label>
        <input type="text" class="form-control" id="input" placeholder="Remark(200 characters max)" required>
      </div>

     </div>

<br>
     <button type="submit" class="btn btn-primary btn-lg"  ><span><i class="fa fa-database" aria-hidden="true"></i></span> SAVE</button>

   </div>
</div>