.card {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #fff;
  padding: 20;
}
button {
  border-radius: 2rem;
}

#icon {
  font-size: 30px;
}
input[type="text"] {
  height: 60px;
}
input,
select {
  height: 60px;

  border-radius: 4px;
}
