<h2 style="background-color: rgb(105, 105, 245);color: white; width: 100%;">Education::Query</h2>
<div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-2">
       <button type="button" class="btn btn-outline-dark">View</button>

   </div>
   <div class="col-md-2"></div>
   <div class="col-md-2"></div>
   <div class="col-md-2"></div>

   <div class="col-md-2">
       <button type="button" [routerLink]="['/administrator/employee/education/new']" routerLinkActive="router-link-active"  class="btn btn-outline-dark">New</button>

   </div>

   

</div>
<br>
<!--Tables goes here-->

<table class="table">
   
   <thead>
     <tr>
       <th scope="col">ID <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col">Name <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col"> Position <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col">JobType<i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col">EffectiveDate <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col">Status <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       <th scope="col">Modified <i class="fa fa-caret-down" aria-hidden="true"></i></th>
       
     </tr>
   </thead>
   <tbody>
   
   </tbody>
 </table>




