<h2 style="background-color: rgb(105, 105, 245); color: white; width: 100%">
  Legal Document ::Query
</h2>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-outline-dark">View</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>

  <div class="col-md-2">
    <button
      type="button"
      [routerLink]="['/administrator/employee/legalDocument/new']"
      routerLinkActive="router-link-active"
      class="btn btn-outline-dark"
    >
      New
    </button>
  </div>
</div>
<br />
<!--Tables goes here-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Document Type</th>
      <th scope="col">Document Id</th>
      <th scope="col">Valid From</th>
      <th scope="col">Expiry</th>
      <th scope="col">Expiry Alert</th>
      <th scope="col">Attachment</th>
      <th scope="col">Remark</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
