<!--This is the ToolBar-->
<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 img-responsive push-left">
      <img src="../assets/images/HR.my.png" alt="" width="60" />
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/login']" class="btn btn-info btn-sm">LOGIN</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/signup']" class="btn btn-info btn-sm">SIGNUP</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/testimonial']" class="btn btn-info btn-sm">
        TESTIMONIAL
      </a>
    </div>

    <div class="col-md-2">
      <a [routerLink]="['/userguide']" class="btn btn-info btn-sm">
        USER GUIDE
      </a>
    </div>
  </div>
  <div class="center-content">
    <div class="row">
      <div class="column">
        <h1>Testimonial Wall</h1>
        <p><span class="hl">Please Tell Your Friends</span></p>

        <p>
          Do you like what <span class="hl">HR.my</span> has to offer? If you
          really love it, wanna give me a pat on the back? ^o^
        </p>

        <p>
          Any positive comment that you leave on this page will greatly help
          <span class="hl">HR.my</span> to grow healthily and become even
          better.
        </p>

        <p>
          Please go ahead and leave your testimonial as Facebook comment below,
          don't forget to check the "Also post on Facebook" option to share with
          your friends, Okay?
          <img src="image/emoji/blush.png" style="vertical-align: middle" />
        </p>

        <p>
          <b>** This page is meant for user Testimonials ONLY</b>. If you have
          any questions about HR.my, please visit the
          <a
            href="https://payroll.my/forum/index?utm_campaign=web&amp;utm_source=web&amp;utm_medium=web&amp;utm_content=testimonial"
            target="_blank"
            >support forum</a
          >
          instead.
        </p>
      </div>
      <!-- <div class="one-third column phones"> -->
      <!-- <img class="phone" src="images/iphone.png"> -->
      <!-- <img class="phone" src="images/iphone.png"> -->
      <!-- </div> -->
    </div>
  </div>
</div>
