.card{
    margin-left: 200px;
    height: 380px;
    width: 650px;
}
select{
    height: 40px;
    margin-left: 40px;
    width: 200px;
}
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }