
<h2 style="background-color: rgb(105, 105, 245);color: white;width: 120%;">Salary Adjustment ::Query</h2>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark">View</button>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark">Edit</button>

    </div>

</div>
<!--Table starts here-->
<br>
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">ID <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Name<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Position <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Basic Salary<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Effective Date<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Status<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Modified<i class="fa fa-caret-down" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
  </table>
