<!--This is the ToolBar-->
<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 img-responsive push-left">
      <img src="../assets/images/HR.my.png" alt="" width="60" />
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/login']" class="btn btn-info btn-sm">LOGIN</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/signup']" class="btn btn-info btn-sm">SIGNUP</a>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/testimonial']" class="btn btn-info btn-sm">
        TESTIMONIAL
      </a>
    </div>

    <div class="col-md-2">
      <a [routerLink]="['/userguide']" class="btn btn-info btn-sm">
        USER GUIDE
      </a>
    </div>
  </div>
  <!-- my navbar -->

  <!--This is the title-->

  <!--This is the form for signup Sign up Card-->

  <div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title
          class="text-info text-capitalize"
          style="text-align: center; font-size: 30px"
          >Employer Account</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label> Email</mat-label>
          <input type="email" matInput placeholder="Email" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint class="text-primary">Johndoe@gmail.com</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email Confirmation</mat-label>
          <input
            type="email"
            matInput
            placeholder="Email Confirmation"
            required
          />
          <mat-icon matSuffix>mark_email_read</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label> Password </mat-label>
          <input type="password" matInput placeholder="Password" required />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Home Country</mat-label>
          <input type="text" matInput placeholder="Home Country" required />
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label> Verification Code</mat-label>
          <input
            type="text"
            matInput
            placeholder="Verification Code"
            required
          />
          <mat-icon matSuffix>domain_verification</mat-icon>
        </mat-form-field>

        <!--This is a checkbox-->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            style="height: 25px; width: 25px; float: left"
          />
          <label class="form-check-label" for="flexCheckDefault">
            <div>
              By clicking "Sign Up", you agree to the
              <a href="legal/terms_of_service.html" target="_blank">Terms</a>
              and
              <a href="legal/privacy_policy.html" target="_blank"
                >Privacy Policy</a
              >, and to receive important communications from HR.my
              electronically.
            </div>
          </label>
        </div>
        <!--This is the signup Button-->

        <br />
        <button
          type="button"
          class="btn btn-info btn-sm"
          style="width: 140px; border-radius: 15px"
        >
          SIGNUP
        </button>
        <br />
        <br />

        <a
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="text-info"
          style="font-size: larger"
          >Return To Login</a
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>
