input {
  height: 35px;
  font-size: larger;
}
.form {
  display: flex;
}
.card {
  border-radius: 5px;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f2f2f2;
  padding: 20px;
  height: 150px;
}
