<h2 style="background-color: rgb(105, 105, 245); color: white; width: 100%">
  MyAccount::ChangePassword
</h2>

<!--Form starts here-->
<div class="card" style="width: 100%; height: 80%; margin-left: 0%">
  <div class="card-body">
    <h2 class="h2" style="background-color: rgb(78, 78, 228); color: white">
      Reset Password
    </h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">CurrentPassword</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Current Password"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">NewPassword</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter New Password"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">ConfirmNewPassword</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Confirm New Password"
        />
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-success btn-lg">Save</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-warning btn-lg">Cancel</button>
        </div>
      </div>
    </form>

    <br />
  </div>
  <h2 class="text-warning" style="text-align: center">
    Note: Upon saving your new password, you will be logged out of current
    session.
  </h2>
</div>
