<br />
<h2 style="background-color: rgb(105, 105, 245); color: white; width: 100%">
  Announcement ::Query
</h2>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-secondary">View</button>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-outline-secondary"
          [routerLink]="['/administrator/team/announcement/new']"
          routerLinkActive="router-link-active"
        >
          New
        </button>
      </div>
    </div>
  </div>
</div>
<br />

<!--Table goes here-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Published</th>
      <th scope="col">Attachment</th>
      <th scope="col">NotifyEmployees</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of announcements">
      <td>{{ item.title }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.published }}</td>
      <td>{{ item.attachment }}</td>
      <td>{{ item.notify }}</td>
      <td>{{ item.content }}</td>
    </tr>
  </tbody>
</table>
