<h2 style="background-color: rgb(105, 105, 245);color: white; width: 120%;">Document Review</h2>
<div class="row">
    <div class="col-md-4">
        <label for="">Status:</label>
        <select name="" id="">
            <option value="">Pending</option>
            <option value="">Reviewed</option>
        </select>
    </div>
</div>

<!--Table Goes here-->
<!--This is the breakline-->
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Name<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Date<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Document WorkFlow<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Reference<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Description <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col"> Remark<i class="fa fa-caret-down" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>



