<!--Header-->
<h2 style="background-color: rgb(105, 105, 245);color: white; width:120% ;">Leave Entitlement Summary</h2>
<!--Table  goes here-->

<!--Tables goes here-->

<table class="table">
    
    <thead>
      <tr>
        <th scope="col">Name<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Balance <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Earned<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Carried Over <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Entitled <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Taken <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Emergency<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        
        
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>

