
<h2 style="background-color: rgb(105, 105, 245);color: white;width: 120%;">Variable Deduction :: Query</h2>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark">View</button>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button [routerLink]="['/administrator/payroll/variableDeduction/new']" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-dark">New</button>

    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark">Edit</button>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark">Delete</button>

    </div>

    

    

</div>


<!--Table goes here-->
<br>

<table class="table">
    
    <thead>
      <tr>
        <th scope="col">Code<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Description<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Amount <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Qty<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Unit<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Amount Mode<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Qty Mode<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Active<i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Modified<i class="fa fa-caret-down" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
  </table>

