<!--This is the header-->
<h2 style="background-color: #4287f5; color: white; width: 100%">
  Employee::New
</h2>
<!--Form goes  here-->
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="col-md-12">
        <label>ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Id"
          required
          autofocus
          placeholder="Enter Id"
        />
      </div>
      <br />
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>FIRST NAME</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Name"
              placeholder="Enter First Name"
              required
            />
          </div>
          <div class="col-md-6">
            <label>LAST NAME</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Name"
              placeholder="Enter LastName"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label>GENDER</label>
        <select
          class="form-control"
          [(ngModel)]="Gender"
          aria-label="Default select example"
          required
        >
          <option selected>Open this select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="col-md-12">
        <label for="">BIRTH DATE</label>
        <input
          type="date"
          class="form-control"
          placeholder="Enter Birth Date"
          required
        />
      </div>
      <br />
      <div class="col-md-12">
        <label>NATIONALITY</label>
        <select class="custom-select">
          <option selected>Select Your Nationality</option>
          <option *ngFor="let nationality of nationalities">
            {{ nationality }}
          </option>
        </select>
      </div>
      <br />

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>NATIONAL ID</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Department"
              placeholder="Enter National Id"
              required
            />
          </div>
          <div class="col-md-6">
            <label>PASSPORT</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Department"
              placeholder="Enter Passport"
              required
            />
          </div>
        </div>
      </div>
      <br />
      <div class="col-md-12">
        <label>JOBPOSITION</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="DateJoined"
          placeholder="Enter JopPosition"
          required
        />
      </div>
      <div class="col-md-12">
        <label>EMAIL</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="Status"
          placeholder="Enter Email for(for Employee   Web Account Activation"
          required
        />
      </div>
    </div>
    <br />
    <div class="col-md-12">
      <button
        type="submit"
        (click)="
          onSubmit(
            Id,
            Name,
            Gender,
            Position,
            Department,
            DateJoined,
            Status,
            Modified
          )
        "
        class="btn btn-primary"
      >
        <i class="fa fa-database" aria-hidden="true"></i> SAVE
      </button>

      <button
        class="btn btn-primary"
        [routerLink]="['/administrator/employer/information']"
        routerLinkActive="router-link-active"
        style="
          margin-left: 50%;
          border-radius: 2rem;
          background-color: #37474f;
          border-color: #37474f;
          color: #fff;
        "
      >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK
      </button>
    </div>
    <br />
  </div>
</div>
